bazel-*
.bazelrc.user
.idea/
.ijwb/
.bazelbsp/
.DS_Store
e2e/*/MODULE.bazel.lock
examples/*/MODULE.bazel.lock

# Nested Bazel output base (used by quarkifier local build repo rule)
.bazel-nested-build/
